<div class="container">
    <div class="card card-default mt-3">
        <div class="card-header">Porteføljens verdi</div>
        <div class="card-body">
            <div class="jumbotron text-center">
                <h2>Egenkapital</h2>
                <h1>{{ portfolio.equity | currency: 'NOK':'':'0.0-0':'nb' }}</h1>
                <br />
                <h4>Markedsverdi</h4>
                <h2>{{ portfolio.market_value | currency: 'NOK':'':'0.0-0':'nb' }}</h2>
                <h6>Endring i dag</h6>
                <h4>
                    <span style="margin-right: 10px;" [ngStyle]="{ color: portfolio.change_today_percent >= 0 ? 'blue' : 'red' }">
                        {{ portfolio.change_today_percent | number: '0.2-2':'nb' }}%
                    </span>
                    <span style="margin-left: 10px;" [ngStyle]="{ color: portfolio.change_today_total >= 0 ? 'blue' : 'red' }">
                        {{ portfolio.change_today_total | currency: 'NOK':'':'0.0-0':'nb' }}
                    </span>
                </h4>
                <h6>Endring totalt</h6>
                <h4>
                    <span style="margin-right: 10px;" [ngStyle]="{ color: portfolio.change_total_percent >= 0 ? 'blue' : 'red' }">
                        {{ portfolio.change_total_percent | number: '0.2-2':'nb' }}%
                    </span>
                    <span style="margin-left: 10px;" [ngStyle]="{ color: portfolio.change_total >= 0 ? 'blue' : 'red' }">
                        {{ portfolio.change_total | currency: 'NOK':'':'0.0-0':'nb' }}
                    </span>
                </h4>
                <br />
                <h4>Saldo</h4>
                <h3>{{ portfolio.cash | currency: 'NOK':'':'0.0-0':'nb' }}</h3>
            </div>
        </div>
    </div>
    <div class="card card-default mt-3">
        <div class="card-header">Beholdning</div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="hidden-sm-up">Ticker</th>
                        <th class="hidden-sm-down">Navn</th>
                        <th class="text-right hidden-sm-down">Antall</th>
                        <th class="text-right hidden-sm-down">GAV</th>
                        <th class="text-right text-nowrap">I dag %</th>
                        <th class="text-right hidden-sm-down">Kost</th>
                        <th class="text-right">Siste</th>
                        <th class="text-right hidden-sm-down">Verdi</th>
                        <th class="text-right text-nowrap">Avkastning %</th>
                        <th class="text-right">Avkastning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let position of portfolio.positions">
                        <td class="hidden-sm-up">{{ position.symbol }}</td>
                        <td class="hidden-sm-down">{{ position.name }}</td>
                        <td class="text-right hidden-sm-down">{{ position.shares | number: '0.2-2':'nb' }}</td>
                        <td class="text-right hidden-sm-down">{{ position.avg_price | currency: 'NOK':'':'0.2-2':'nb' }}</td>
                        <td class="text-right" [ngStyle]="{ color: position.change_today_percent >= 0 ? 'blue' : 'red' }">
                            {{ position.change_today_percent | number: '0.2-2':'nb' }} %
                        </td>
                        <td class="text-right hidden-sm-down">{{ position.cost_value | currency: 'NOK':'':'0.0-0':'nb' }}</td>
                        <td class="text-right">{{ position.last_price | currency: 'NOK':'':'0.2-2':'nb' }}</td>
                        <td class="text-right hidden-sm-down">{{ position.current_value | currency: 'NOK':'':'0.0-0':'nb' }}</td>
                        <td class="text-right" [ngStyle]="{ color: position.return_percent >= 0 ? 'blue' : 'red' }">
                            {{ position.return_percent | number: '0.2-2':'nb' }} %
                        </td>
                        <td class="text-right" [ngStyle]="{ color: position.return >= 0 ? 'blue' : 'red' }">
                            {{ position.return | currency: 'NOK':'':'0.0-0':'nb' }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="hidden-sm-up font-weight-bold">Total</th>
                        <th class="hidden-sm-down font-weight-bold">Total</th>
                        <td class="text-right hidden-sm-down"></td>
                        <th class="text-right hidden-sm-down"></th>
                        <th class="text-right"></th>
                        <th class="text-right hidden-sm-down"></th>
                        <th class="text-right"></th>
                        <th class="text-right hidden-sm-down"></th>
                        <th class="text-right" [ngStyle]="{ color: portfolio.change_total_percent >= 0 ? 'blue' : 'red' }">
                            {{ portfolio.change_total_percent | number: '0.2-2':'nb' }} %
                        </th>
                        <th class="text-right" [ngStyle]="{ color: portfolio.change_total_percent >= 0 ? 'blue' : 'red' }">
                            {{ portfolio.change_total | currency: 'NOK':'':'0.0-0':'nb' }}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
