<div class="container">
    <p class="mt-3">
        <button class="btn btn-primary mr-3" (click)="loadPortfolio()">Load Portfolio</button>
        <button class="btn btn-danger" [disabled]="!portfolioLoaded" (click)="savePortfolio()">Save Portfolio</button>
    </p>
    <div style="height: 35px;">
        <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">
            {{ successMessage }}</ngb-alert>
        <ngb-alert #selfClosingErrorAlert *ngIf="errorMessage" type="error" (closed)="errorMessage = ''">
            {{ errorMessage }}</ngb-alert>
    </div>
    <div class="card card-default mt-3">
        <div class="card-header">Saldo</div>
        <div class="card-body">
            <input type="number" [(ngModel)]="portfolio.cash" />
        </div>
    </div>
    <div class="card card-default mt-3">
        <div class="card-header">Beholdning</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>Ticker</th>
                    <th>Antall</th>
                    <th>GAV</th>
                    <th></th>
                </thead>
                <tr *ngFor="let position of portfolio.positions">
                    <td><input type="text" [(ngModel)]="position.symbol" class="input-sm" /></td>
                    <td><input type="number" [(ngModel)]="position.shares" /></td>
                    <td><input type="number" step="0.01" [(ngModel)]="position.avg_price" /></td>
                    <td>
                        <fa-icon [icon]="faTrash" class="mr-3" (click)="setPositionToDelete(position)" style="cursor: pointer;"></fa-icon>
                    </td>
                </tr>
                <tfoot>
                    <th><input type="text" [(ngModel)]="newPosition.symbol" class="input-sm" /></th>
                    <th><input type="number" [(ngModel)]="newPosition.shares" /></th>
                    <th><input type="number" step="0.01" [(ngModel)]="newPosition.avg_price" /></th>
                    <th>
                        <fa-icon [icon]="faPlus" class="mr-3" (click)="addPosition()"></fa-icon>
                    </th>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card card-default mt-3">
        <div class="card-header">JSON</div>
        <div class="card-body">
            <pre *ngIf="portfolio">
                <code>{{ portfolio | json }}</code>
            </pre>
        </div>
    </div>
</div>