<div class="container text-nowrap">
    <div class="card card-default mt-3">
        <div class="card-header">Detaljer {{ symbol }}</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-3"><strong>Ticker</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.symbol }}</div>
                    <div class="col-6 col-sm-3"><strong>Navn</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.name }}</div>
                    <div class="col-6 col-sm-3"><strong>Antall</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.shares | number: '0.0-0':'nb' }}</div>
                    <div class="col-6 col-sm-3"><strong>Siste</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.last_price | currency: 'NOK':'':'0.2-2':'nb' }} NOK</div>
                    <div class="col-6 col-sm-3"><strong>GAV</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.avg_price | currency: 'NOK':'':'0.2-2':'nb' }} NOK</div>
                    <div class="col-6 col-sm-3"><strong>Endring i dag</strong></div>
                    <div class="col-6 col-sm-3 text-right" [ngStyle]="{ color: position.change_today_percent >= 0 ? 'RoyalBlue' : 'Tomato' }">
                        {{ position?.change_today_percent | number: '0.2-2':'nb' }} %
                    </div>
                    <div class="col-6 col-sm-3"><strong>Kostpris</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.cost_value | currency: 'NOK':'':'0.2-2':'nb' }} NOK</div>
                    <div class="col-6 col-sm-3"><strong>verdi</strong></div>
                    <div class="col-6 col-sm-3 text-right">{{ position?.current_value | currency: 'NOK':'':'0.2-2':'nb' }} NOK</div>
                    <div class="col-6 col-sm-3"><strong>Avkastning</strong></div>
                    <div class="col-6 col-sm-3 text-right" [ngStyle]="{ color: position.return_percent >= 0 ? 'RoyalBlue' : 'Tomato' }">
                        {{ position?.return_percent | number: '0.2-2':'nb' }} %
                    </div>
                    <div class="col-6 col-sm-3"><strong>Avkastning</strong></div>
                    <div class="col-6 col-sm-3 text-right" [ngStyle]="{ color: position.return >= 0 ? 'RoyalBlue' : 'Tomato' }">
                        {{ position?.return | currency: 'NOK':'':'0.2-2':'nb' }} NOK
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default mt-3">
        <div class="card-header">Graf {{ symbol }}</div>
        <div class="card-body">
            <div class="chart-wrapper">
                <canvas
                    baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                >
                </canvas>
            </div>
        </div>
    </div>
</div>
