<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li *ngIf="auth.loggedIn === false">
                <a href="#" (click)="auth.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" style="white-space: nowrap;" *ngIf="auth.userProfile$ | async as profile">
                <a class="nav-link dropdown-toggle" id="profileDropDown" data-toggle="dropdown">
                    <img [src]="profile.picture" alt="Profile picture" class="nav-user-profile rounded-circle" style="width: 40px" />
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header" *ngIf="profile">
                        {{ profile.name }}
                    </div>
                    <div class="dropdown-item" *ngIf="profile">
                        <a routerLink="/profile"> <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile </a>
                    </div>
                    <div class="dropdown-item" *ngIf="profile">
                        <a routerLink="/portfolio-editor"> <fa-icon [icon]="faEdit" class="mr-3"></fa-icon> Redigér Portefølje </a>
                    </div>
                    <div class="dropdown-item" *ngIf="profile">
                        <a routerLink="external-api" *ngIf="auth.loggedIn">External API</a>
                    </div>
                    <button (click)="auth.logout()" class="btn btn-link dropdown-item" id="qsLogoutBtn">
                        <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon> Log out
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>
