<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Aksjespareklubben AlleGutta</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#">Portefølje <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/bisand/allegutta-portfolio" target="_blank">GitHub</a>
            </li>
            <li class="nav-item dropdown ml-auto" *ngIf="auth.loggedIn === false">
                <a class="nav-link" href="#" (click)="auth.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li class="nav-item dropdown ml-auto" *ngIf="auth.userProfile$ | async as profile">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                <img [src]="profile.picture" alt="Profile picture" class="nav-user-profile rounded-circle" style="width: 16px" /> {{ profile.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-header" *ngIf="profile">
                        <img [src]="profile.picture" alt="Profile picture" class="nav-user-profile rounded-circle" style="width: 40px" /> {{ profile.name }}
                    </div>
                    <button routerLink="/profile/" class="btn btn-link dropdown-item" *ngIf="profile">
                        <fa-icon [icon]="faUser" class="mr-3"></fa-icon>Profile
                    </button>
                    <button routerLink="/portfolio-editor/" class="btn btn-link dropdown-item" *ngIf="profile">
                        <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>Redigér Portefølje
                    </button>
                    <button (click)="auth.logout()" class="btn btn-link dropdown-item" id="qsLogoutBtn">
                        <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon> Log out
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>
